#footer {
    padding: 2rem 0 1rem;
    border-top:solid 1px #ccc;
    margin-top:3rem;
    background: #584f4f linear-gradient(to bottom,  #584f4f 0%,#444241 100%);
}

.footer-container {
  @include xy-grid-container;

}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell(auto);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .widget_custom_html {
    text-align: right;

    a {
      display:inline-block;
      margin:0 .3rem 0 0;
      font-size:1.5em;
      color:#fff;

      &:hover {
        color: $accent;
      }
    }
  }
}
